<style>
    .search-result-modal {
        background: rgb(255, 255, 255);
        width: 300px;
        height: 300px;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 50%;
        transform:translateX(-50%);
        display: none;
        overflow-y: scroll;
        padding: 10px 20px;
    }
    .result-ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .result-item {
        text-decoration: none;
        color: #000;
        font-size: 24px;

    }
</style>
<nav class="navbar">
    <div class="nav-wrapper">
        <img src="/public/images/logo.PNG" class="brand-img" alt="">
        <input type="text" class="search-box" placeholder="search">
        <div class="nav-items">
            <img src="/public/images/home.PNG" class="icon" alt="">
            <a href="/direct"><img src="/public/images/messenger.PNG"  class="icon" alt=""></a>
            <img src="/public/images/add.PNG" class="icon" alt="">
            <img src="/public/images/explore.PNG" class="icon" alt="">
            <img src="/public/images/like.PNG" class="icon" alt="">
            <div class="icon user-profile"></div>
        </div>
    </div>
</nav>

 <div class="search-result-modal">
    <ul class="result-ul">
    
    </ul>
 </div>

<script>
    const searchInput = document.querySelector(".search-box")
    searchInput.addEventListener("keyup", async (e) => {
        let searchText = e.target.value
        searchText = searchText.toLowerCase()
        
        
        let response  = await fetch(`/users/search?q=${searchText}`)

        response = await response.json()
        response.results.map(el => {
            let newLi = document.createElement("a")
            newLi.textContent = `${el.username}`
            newLi.href = `/users/${el.username}`
            newLi.className = "result-item"
            let results = document.querySelector(".result-ul")
            
            results.appendChild(newLi)
    
    
        })
        
        document.querySelector(".search-result-modal").style.display = "block"
    
        
        response.results.map(el => console.log(el))
    })
</script>